<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Processador de Texto</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/indexStyle.css') }}"
        />
    </head>
    <body>
        <h1>Processador de Texto</h1>
        <hr />

        <h3>Opção 1: Enviar um arquivo (.txt ou .pdf)</h3>
        <form id="upload-form" action="{{ url_for('pagina_inicial') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file-input" />

            <label for="file-input" class="button button-secondary"
                >Escolher Arquivo</label
            >

            <button type="submit" class="button button-success">
                Enviar Arquivo
            </button>

            <span id="file-name">Nenhum arquivo selecionado</span>
        </form>

        <hr />

        <h3>Opção 2: Digitar ou colar o texto</h3>
        <form id="text-form" method="post">
            <textarea
                name="text_input"
                id="text-input"
                placeholder="Digite seu texto aqui..."
            ></textarea>
            <br />
            <button
                type="button"
                id="clear-button"
                class="button button-danger"
            >
                Limpar
            </button>
            <button type="submit" class="button">Enviar Texto</button>
        </form>

        <hr />

        <div id="resultado-container"></div>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
