<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Resultado da Análise</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/resultStyle.css') }}"
        />
    </head>
    <body
        class="{{ 'productive' if result == 'Produtivo' else 'unproductive' }}"
    >
        <div class="container-fluid">
            <h1>{{ result }}</h1>

            <div class="text-preview">
                <strong>Texto analisado:</strong>
                <hr style="border-color: rgba(255, 255, 255, 0.5)" />
                <pre>{{ text }}</pre>
            </div>

            <a href="{{ url_for('pagina_inicial') }}" class="btn-back"
                >Analisar Outro E-mail</a
            >
        </div>
    </body>
</html>
